 .mo-tour {
    position: relative;
    max-height: 88%;
    height: 88%;
 }

 form {
    width: 100%;
    height: 100%;
}

.mo-form-group {
    display: grid;
    position: relative;
    padding: 8px 0px;
    grid-template-columns: 5fr 1fr;
    border-bottom: 1px solid #b7b7b7;
    margin: 0px 25px;
}

.mo-form-group input {
    border: none;
}

.button-submit {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin: 0;
    right: 10%;
}

.button-submit button {
    width: 100%;
    background: var(--blueToPurple);
    color: #fff;
    border: none !important;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: right;
    bottom: 0;
}