<div class="mo-content">
    <img [src]="backgroundIMG" alt="" class="background">

    <div class="mo-search-box">
        <div class="mo-search-box-header">
            <searchbox-tabs [num]="num" (setTabNum)="getNum($event)"></searchbox-tabs>
        </div>
        <div class="mo-search-box-content">
            <int-flight-search (runDatePicker)="datePickerRun($event)"
                                (openPassengerModal)="openModalPassenger($event)"></int-flight-search>
            <dom-flight-search (runDatePicker)="datePickerRun($event)"
                                (openPassengerModal)="openModalPassenger($event)"
                                [isOpenModal]="isOpenModal">
                
            </dom-flight-search>
            <tour-search></tour-search>
            <hotel-search></hotel-search>
            <input type="text" #domDatpicker>
        </div>
    </div>
</div>


<div>
    <ng-persian-datepicker [class.display-none]="isDatepicker" 
                        [dateOnSelect]="config.date.onSelect"
                        [timeEnable]="config.time.enable"
                        [dateFormat]="'jYYYY/jMM/jDD'" 
                        [input]="domDatpicker"></ng-persian-datepicker>
</div>


<div class="mo-passenger-info" [class.show-modal]="isOpenModal">
    <div *ngIf=isOpenModal>
        <passenger-modal (closePassengerModal)="closeModalPassenger($event)" 
                        (acceptPassenger)="acceptPasengerInfo($event)"></passenger-modal> 
                        
    </div>
</div>
