<div class="mo-hotel">
    <form action="" id="moHotel">
            <div class="mo-form-group">
                <input type="text" placeholder="انتخاب مقصد">
                <div class="mo-input-icon">
                    <i class="mo-icon-destination">مقصد</i>
                </div>
            </div>
            <div class="mo-form-group">
                <div class="mo-date-input">
                    <input class="single-datepicker pwt-datepicker-input-element" type="text" id="moDateOneHotel" placeholder="رفت" readonly="">
                    <a class="mo-swith-date" aria-pressed="false"></a>
                    <input class="single-datepicker inputDateBack pwt-datepicker-input-element" type="text" id="moDateTwoHotel" placeholder="برگشت" data-type-attr="back" disabled="" readonly="">
                </div>
                
                <div class="mo-input-icon">
                    <i class="mo-icon-date">تاریخ</i>
                </div>
            </div>
            <div class="mo-form-group passengerSelector ">
                <input type="text" id="moPassengerHotel" placeholder=" مسافران" class="passengerSelection" readonly="">
                <div class="mo-input-icon">
                    <i class="mo-icon-passenger">مسافران</i>
                </div>
            </div>
            <div class="button-submit">
                <button type="submit">
                    جستجو
                </button>
            </div>
        </form>
    </div>