<div class="mo-ticket-container">
    <div class="mo-ticket-head backDashedInBottom">
        <div class="mo-ticket-airline-logo">
            <img [src]="flightIMG1">
            <img [src]="flightIMG2">
            <img [src]="flightIMG3">
        </div>
        <div class="mo-ticket-airline-name">
            <h3>مولتی ایرلاینز</h3>
            <p>multi airlines</p>
        </div>
        <div class="mo-ticket-airline-detail">
            <span>اکونومی</span>
            <span></span>
        </div>
    </div>
    <div class="mo-ticket-content backDashedInBottom">
        <div class="mo-ticket-row">
            <div class="mo-ticket-badge">
                <p>رفت</p>
            </div>
            <div class="mo-ticket-origin">
                <small>کهکیلویه بویر احمد</small>
                <p>۱۵:۳۵</p>
            </div>
            <div class="mo-ticket-timeline">
                <div class="mo-ticket-timeline-date">
                    <div class="mo-flight-duration">
                       <span>طول پرواز :</span>
                       <p>۱۲:۵۰</p>
                    </div>
                    <div class="mo-flight-stops">
                        <p>۲</p>
                        <span>توقف</span>
                    </div>
                </div>
                <div class="mo-ticket-line">
                    <div class="mo-ticket-stops">
                        <span>THR</span>
                        <span>DXB</span>
                        <span>PER</span>
                        <span>SYD</span>
                    </div>
                </div>
            </div>
            <div class="mo-ticket-destination">
                <small>سن پترزبورگ</small>
                <p>۱۵:۳۵</p>
            </div>
        </div>
        <div class="mo-ticket-row">
        <div class="mo-ticket-badge">
                <p>برگشت</p>
            </div>
            <div class="mo-ticket-origin">
                <small>سن پترزبورگ</small>
                <p>۱۵:۳۵</p>
            </div>
            <div class="mo-ticket-timeline">
                <div class="mo-ticket-timeline-date">
                    <div class="mo-flight-duration">
                       <span>طول پرواز :</span>
                       <p>۱۲:۵۰</p>
                    </div>
                    <div class="mo-flight-stops">
                        <p>۲</p>
                        <span>توقف</span>
                    </div>
                </div>
                <div class="mo-ticket-line">
                    <div class="mo-ticket-stops">
                        <span>THR</span>
                        <span>DXB</span>
                        <span>PER</span>
                        <span>SYD</span>
                    </div>
                </div>
            </div>
            <div class="mo-ticket-destination">
                <small>کهکیلویه بویر احمد</small>
                <p>۱۵:۳۵</p>
            </div>
        </div>
    </div>
    <div class="mo-ticket-foot">
        <span></span>
        <div class="mo-ticket-foot-content">
            <div class="footer-cont-right">
                <a class="mo-ticket-info">جزئیات و خرید</a>
            </div>
            <div class="footer-cont-left">
                <p>۵,۲۰۰,۰۰۰</p>
                <small>تومان</small>
            </div>
        </div>
    </div>
</div>