.mo-flight-international{
    position: relative;
    max-height: 83%;
}

form {
    width: 100%;
    height: 100%;
}

input:disabled::placeholder{
    color: #b8b8b8;
}
.mo-form-group {
    display: grid;
    position: relative;
    padding: 8px 0px;
    grid-template-columns: 5fr 1fr;
    border-bottom: 1px solid #b7b7b7;
    margin: 0px 25px;
}

.mo-form-group input {
    border: none;
}

.mo-input-icon {
    position: relative;
    text-align: center;
}

.mo-input-icon i::before {
    content: '';
    height: 50%;
    width: 18px;
    height: 18px;
    margin: auto;
    display: block;
    background-size: 72px 72px !important;
    background: url(../../../assets/icon/icon.png);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
}
.mo-input-icon i {
    position: relative;
    font-size: 11px !important;
}
.mo-date-input {
    display: flex;
    align-self: center;
}

.mo-form-group input#moDateOneFlightInt,
.mo-form-group input#moDateTwoFlightInt{
    width: 45%;
}
.mo-date-input a {
    position: relative;
    box-sizing: content-box;
    height: 30px;
    width: 30px;
}
.mo-date-input a::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 2px;
    height: 19px;
    width: 19px;
    margin: auto;
    background: url(../../../assets/icon/icon.png);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 120px 120px;
    background-position: -35px -34px;
    opacity: 0.2;
}
.mo-date-input a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 18px;
    width: 19px;
    margin: auto;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

i.mo-icon-date::before {
    background-position: -18px 0px;
}

i.mo-icon-passenger::before {
    background-position: -36px 0px;
}

.button-submit {
    position: relative;
    bottom: 0;
    width: 80%;
    margin: 35px 0;
    right: 10%;
}

.button-submit button {
    width: 100%;
    background: -moz-linear-gradient(45deg, rgba(6,108,158,1) 0.000%,rgba(31,78,143,1) 85%,rgba(56,49,125,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(6,108,158,1) 0.000%,rgba(31,78,143,1) 85%,rgba(56,49,125,1) 100%);
    background: linear-gradient(45deg, rgba(6,108,158,1) 0.000%,rgba(31,78,143,1) 85%,rgba(56,49,125,1) 100%);
    color: #fff;
    border: none !important;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: right;
    bottom: 0;
}