
<div class="mo-flight-domestic">
    <form action="" id="moFlightDOM">
        <div class="mo-form-group">
            <input type="text" id="moOriginFlightDom" placeholder="انتخاب مبدا">
            <div class="mo-input-icon">
                <i class="mo-icon-origin">مبدا</i>
            </div>
        </div>
        <div class="mo-form-group">
            <input type="text" id="moDestinationFlightDom" placeholder="انتخاب مقصد">
            <div class="mo-input-icon">
                <i class="mo-icon-destination">مقصد</i>
            </div>
        </div>
        <div class="mo-form-group">
            <div class="mo-date-input">
                <input class="single-datepicker pwt-datepicker-input-element" type="text" id="moDateOneFlightDom" placeholder="رفت" value="" readonly="">
                <a class="mo-swith-date" aria-pressed="false"></a>
                <input class="single-datepicker inputDateBack pwt-datepicker-input-element" type="text" id="moDateTwoFlightDom" placeholder="برگشت" value="" data-type-attr="back" disabled readonly>
            </div>
            <div class="mo-input-icon">
                <i class="mo-icon-date">تاریخ</i>
            </div>
        </div>
        <div class="mo-form-group passengerSelector ">
            <input type="text" id="moPassengerFlightDom" placeholder="مسافران" class="passengerSelection" readonly=""> 
            <div class="mo-input-icon">
                <i class="mo-icon-passenger">مسافران</i>
            </div>
        </div>
        <div class="button-submit">
            <button type="submit">
                جستجو
            </button>
        </div>
    </form>
</div>