@font-face {
    font-family: 'yekan';
    font-style: normal;
    font-weight: bold;
    src: url('assets/font/iranyekanwebbold.svg') format("svg");
    src: url('assets/font/iranyekanwebbold.eot');
    src: url('assets/font/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),
        url('assets/font/iranyekanwebbold.woff2') format('woff2'),
        url('assets/font/iranyekanwebbold.woff') format('woff'),
        url('assets/font/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
    font-family: 'yekan';
    font-style: normal;
    font-weight: normal;
    src: url('assets/font/iranyekanwebregular.svg') format("svg");
    src: url('assets/font/iranyekanwebregular.eot');
    src: url('assets/font/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),
        url('assets/font/iranyekanwebregular.woff2') format('woff2'),
        url('assets/font/iranyekanwebregular.woff') format('woff'),
        url('assets/font/iranyekanwebregular.ttf') format('truetype');
}

/* Latin fonts (Roboto) */

@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: bold;
    src: url('assets/font/robotobold.eot');
    src: url('assets/font/robotobold.eot?#iefix') format('embedded-opentype'),
        url('assets/font/robotobold.woff2') format('woff2'),
        url('assets/font/robotobold.woff') format('woff'),
        url('assets/font/robotobold.ttf') format('truetype');

}

@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: normal;
    src: url('assets/font/robotoregular.eot');
    src: url('assets/font/robotoregular.eot?#iefix') format('embedded-opentype'),
        url('assets/font/robotoregular.woff2') format('woff2'),
        url('assets/font/robotoregular.woff') format('woff'),
        url('assets/font/robotoregular.ttf') format('truetype');
}


* , body{
    direction: rtl;
    font: 400 1em "yekan","roboto",sans-serif !important;
    
}
body{
    box-sizing: border-box;
    text-align: right;
}
body, ul, li, h1, h2, h3, h4, h5, h6, a, input, b, p, i {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
}

:root {
    --purple: #37307D;
    --blue:#089ec3;
    --blueToPurple : linear-gradient(45deg, rgba(6,108,158,1) 0.000%,rgba(31,78,143,1) 85%,rgba(56,49,125,1) 100%);
}

.datepicker-outer-container.manual-position{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: block !important;
    padding-top: 10% !important;
}
.datepicker-inner-container{
    margin: 0 25px;
    border: 1px solid var(--purple);
    padding: 12px;
    border-radius: 15px;
}
.content-container.week-days{
    background: var(--blueToPurple);
    color: #fff;
}
.datepicker-inner-container .dp-btn:hover{
    background: var(--purple) !important;
    color: #fff!important;
}
.datepicker-inner-container .switch-view.dp-btn span{
    font-weight: bold !important;
    color: var(--purple);
}
.content-container.month-days > div.ng-star-inserted:nth-child(7n){
    color: red;
    font-weight: bold;
}
.display-none{
    display: none !important;
}
.datepicker-outer-container .day-col {
    border-radius: 8px !important;
}


/*  Mat Selec Box */
form  mat-form-field{
    max-height: 45px;
}
form .mat-form-field-wrapper {
    padding-bottom: 16px !important;
}
form .mat-form-field-appearance-fill .mat-form-field-flex{
    padding: 0 !important;
}
.cdk-overlay-container .cdk-overlay-pane {
    position: fixed;
    top: 5%!important;
    width: 80vw !important;
    height: 90vh !important;
    transform: none !important;
    right: 5% !important;
}
.cdk-overlay-container .mat-select-panel{
    height: 100% !important;
    max-height: 100%;
}

form .mat-form-field-underline{
    display: none !important;
}




